<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.perse_care.undefinedsoft.perse_care">

    <application
        android:name=".Activities.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrateAccountActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PreguntasParte1Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PreguntasParte2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.OvidasteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.MuestraFAQs" />
        <activity android:name=".Activities.FAQs1" />
        <activity
            android:name=".PreguntasParte3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Activities.LoginHelpDesk" />
        <activity android:name=".HelpDesk.FAQs.ContenedorFAQs" />
        <activity
            android:name=".HelpDesk.Mantenimiento.ContenedorMantenimiento"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".HelpDesk.Mantenimiento.LoginMantenimiento" />
        <activity android:name=".Activities.Profile"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Activities.EditProfile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Activities.AltaPez" />
        <activity android:name=".Activities.HorariosDeComida" />
        <activity android:name=".Activities.NotificationsCreate" />

        <receiver android:name=".Activities.NotificationReceive" />

        <activity android:name=".Activities.ContenededorHorarios" />
        <activity android:name=".HelpDesk.FAQs.MisFaqsFragmentUsuario" />
        <activity android:name=".Activities.HorariosDeComidaNotificaciones" />
        <activity
            android:name=".Activities.HorariosDeLimpiezaNotificaciones"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".SettingsFragment" />
        <activity android:name=".Activities.HorariosLimpieza2" />
        <activity android:name=".Activities.AjustesActivity" />
        <activity android:name=".Activities.ConfiguracionNotificaciones" />
        <activity android:name=".Activities.TodosLosPecesFragment"></activity>
    </application>

</manifest>